table{
    border-collapse: separate;
    border: 20px solid yellow;

}
Tr{
border: 10px solid brown ;
}
th{
border: 10px solid Red;
border-radius: 5%;
}
td{
    border: 10px solid blue;
    border: 20px dettel aqua;
}
